/*
lghtneonblu: #b6cefb;
neonblue   : #6699f6;
darkblue   : #083891;
neonpurple : #c32aff;
darkpurple : #6e0099;
greypurple : #a27ca1;
drkgrypurpl: #5a3f59;
neongreen  : #00ff00;
lightngrn  : #e6ffe6;
randomgrn  : #078e91;

http://spacenode.com/dc_includes/fbimg.php?url=http%3A%2F%2F1-background.com%2Fimages%2Fbrick%2Fglass-brick-wall-purple.jpg
*/
html,body {
  /* margin-top: 120px; */
  background-image: url(img/Black-Wood.jpg);
  background-repeat:repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  color: #6699f6;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

.label {
  color: #c32aff;
}
/* .field {
    display: inline-block;
    text-align: center;
} */

input[type=text] {
  border: 2px solid #110141;
  color: #110141;
  background-color: #b6cefb;
  width: 400px;
  display: block;
  text-align: center;
}
div.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

label.label {
  font-size: 23px;
  margin-top: 3px;
  padding-top: 6px;
}

div.things-column {
  border: solid #6e0099;
  background-image: url("https://thumb9.shutterstock.com/mosaic_250/190878796/1076493476/stock-photo-brick-wall-background-neon-light-1076493476.jpg");
  border-radius: 4px;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 500px;
}
div.field{
  padding-top: 20px;
  padding-bottom: 20px;
}

h1.title {
  color: #6699f6;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  padding-bottom: 15px;
}

h2, h3 {
  color: #6699f6;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  padding: 3px;
  /* margin: 3px; */
  font-size: 25px;
  padding-bottom: 15px;
}

img {
  height: 100px;
  width: auto;
}
/*Buttons*/
div.control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-submit {
  background-color: #c32aff;
  color: white;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: none;
  margin: 3px;
  font-size: 18px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}
.button-fulllist {
  background-color: #01545a;
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: none;
  margin: 3px;
  font-size: 18px;
  font-family: 'Shadows Into Light', cursive;
}
.button-add-item {
  background-color: #6666ff;
  color: #e6ffe6;
  width: 100px;
  height: 45px;
  border-radius: 5px;
  border: none;
  margin: 3px;
  font-size: 18px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}
.button-nevermind {
  background-color: #3333ff;
  color: #e6ffe6;
  width: 100px;
  height: 45px;
  border-radius: 5px;
  border: none;
  margin: 3px;
  font-size: 18px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

.button-fulllist:hover {
  border: 1px solid white;
}
.button-submit:hover {
  border: 1px solid white;
}
.button-add-item:hover {
  border: 1px solid white;
}
button {
  margin: 3px;
}

td {
  margin: 4px;
  padding: 3px;
}

div.control {
  padding-top: 10px;
  padding-bottom: 5px;
}
/* label.label {
  padding-top: 5px;
} */
